body {
  margin: 0;
  padding: 0;
  background: #373737;
}

.container {
  width: 850px;
  height: 531px;
  background: white;
  border-radius: 21px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.68);
  margin-top: 80px;
}

.nav {
  /* border: 1px solid lightgreen; */
  width: 425px;
  height: 55px;
  background: #e5e5e5;
}

.nav-embed {
  border-radius: 21px 0 0 0;
}

.nav-extract {
  border-radius: 0 21px 0 0;
}

button {
  border: none;
  background: none;
  width: 100%;
  font-family: "Montserrat";
  letter-spacing: 1px;
  font-size: 20px;
  color: #373737;
}

.active {
  background: #2f75d1;
}

.active-button {
  color: white;
}

.btn {
  margin-top: 26px;
  width: 100%;
  font-family: Helvetica;
}

#result {
  color: red;
}
